.image-updating img{
    width: 600px;
    margin: 90px auto 0 auto;
}
.table-detail-feedback {
    margin-top: 20px;
    width: 100%;
}
.table-detail-feedback table{
    width: 60%;
    margin: 0 auto;
}
.table-detail-feedback table td,
.table-detail-feedback table th{
    padding: 15px;
    padding-left: 15px;
    border: 1px solid #e0dede;
}