.navbar-admin-style .appbar-style{
    background-color: #cc0033 !important;
}
.text-button{
    color: aliceblue !important;
}
.navbar-admin-style .menu-icon{
    color: #ffffff !important;
    font-size: 32px !important;
}