.main-wrapper{
    padding-left: 270px !important;
    padding-top: 10px !important;
    height: 100vh;
    background-color: #EEEEEE;
}
@media only screen AND (max-width: 896px){
    .main-wrapper{
        padding: 10px 16px 0 16px !important;
    }
}